.wrapper >div{
    display: block;
    flex-direction: column;
}
body{
    display: block;
    align-items: normal;
    justify-content: center;
    height: 100%;
}
.usd{
    border: 1px solid blue;
    margin-left:10px;
    width: 300px;
}
.som{
    margin-right:300px;
    border: 1px solid blue;
    width: 300px;
}
.euro{
    margin-right: 500px;
    width: 300px;
    border: 1px solid blue;
}
input{
    padding: 10px 30px;
}
label{
    font-size: 20px;
}